<h1>Searchable Weather</h1>

<form role="form" id="search-form">
  <div class="form-group">
    <label for="city">City:</label>
    <input type="text" class="form-control" id="city">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<div id="gen-cities">
</div>
